.site-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.menu {
    border-right: 1px solid #cccccc;
}

.is-front-centered {
    width: 40%;
    margin-left: 30%;
    height: fit-content;
    z-index: 50;
}

.is-one-tenth {
    width: 10%;
}

svg a:hover {
    opacity: 90%;
}
