.navbar .has-site-branding {
    background-color: #485fc7!important;
    color: #ffffff!important;
}
.navbar .has-site-branding::after {
    border-color: #ffffff!important;
}
.menu .has-site-branding a.is-active {
    color: #ffffff!important;
    background-color: #485fc7!important;
}
.input.has-site-branding {
    color: dimgrey!important;
    background-color: white!important;
}
.input.has-site-branding:focus {
    border-color: #ffffff!important;
    box-shadow: 0 0 0 0.125em #ffffff;
}