body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    flex-grow: 1;
}

.menu {
    border-right: 1px solid #cccccc;
}

.menu-list a {
    background-color: transparent;
}

.is-front-centered {
    width: 40%;
    margin-left: 30%;
    height: fit-content;
    z-index: 50;
}

.is-one-tenth {
    width: 10%;
}

.is-one-fourth {
    width: 25%;
}

.is-two-fourth {
    width: 50%;
}

svg a:hover {
    opacity: 90%;
}

.modal-content {
    width: calc(100vw - 120px);
}

.modal-box-content {
    width: 100%;
    height: calc(100vh - 120px);
}

.modal-svg {
    display: inline;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
}

a {
    color: #485fc7; /* Pre Bulma 1.x colour code for headers, tabs and links */
}

.modal-image {
    object-fit: contain;
}

a.navbar-item:hover {
    background-color: transparent;
}

.tabs li.is-active a {
    color: #485fc7;
    border-bottom-color: #485fc7;
}

.tabs li {
    font-weight: bold;
}

.input {
    color: dimgrey!important;
    background-color: white!important;
}
.input::placeholder {
    color: darkgrey!important;
}
